In [3]:
# 판다스를 사용하기 위해 라이브러리를 불러옵니다
import pandas as pd

In [4]:
fpath = './data/3638ROUND.xlsx'
raw = pd.read_excel(fpath)
#raw = pd.read_excel('파일명', index_col = '번호')

In [5]:
#데이터를 불러들인 뒤에는 head(), tail(), info(), describe() 명령을 통해 데이터를 살펴보는 것이 ㅈ호다
raw.head(3)

       teamName result predict sf
0  SOUTHHAMPTON      L       L  S
1        FULHAM      W       W  S
2       EVERTON      L       L  S

In [6]:
raw.tail()

             teamName result predict sf
55           WEST HAM      L       L  S
56     CRYSTAL PALACE      D       W  F
57  NOTTINGHAM FOREST      D       D  S
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F

In [7]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   teamName  60 non-null     object
 1   result    60 non-null     object
 2   predict   60 non-null     object
 3   sf        60 non-null     object
dtypes: object(4)
memory usage: 2.0+ KB

In [8]:
#수치형 데이터 확인
raw.describe()

       teamName result predict  sf
count        60     60      60  60
unique       23      3       3   2
top       LEEDS      L       W   S
freq          3     21      38  34

In [9]:
raw

             teamName result predict sf
0        SOUTHHAMPTON      L       L  S
1              FULHAM      W       W  S
2             EVERTON      L       L  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
5            WEST HAM      L       L  S
6             ARSENAL      L       W  F
7            BRIGHTON      W       W  S
8           LEICESTER      L       L  S
9           LIVERPOOL      W       W  S
10          TOTTENHAM      L       W  F
11          BRENTFORD      W       L  F
12              LEEDS      D       W  F
13          NEWCASTLE      D       W  F
14            CHELSEA      D       W  F
15  NOTTINGHAM FOREST      D       L  F
16     CRYSTAL PALACE      W       W  S
17        BOURNEMOUTH      L       L  S
18     MANCHESTER UTD      W       W  S
19      WOLVERHAMPTON      L       L  S
20        ASTON VILLA      W       W  S
21          TOTTENHAM      L       L  S
22           WEST HAM      W       W  S
23              LEEDS      L       W  F
24           BRIGHTON      W       W  S
25        SOUTHAMPTON      L       L  S
26    MANCHESTER CITY      W       W  S
27            CHELSEA      L       L  S
28          NEWCASTLE      D       D  S
29          LEICESTER      D       L  F
30            ARSENAL      W       W  S
31      WOLVERHAMPTON      L       L  S
32          LIVERPOOL      D       W  F
33        ASTON VILLA      D       W  F
34             FULHAM      D       W  F
35     CRYSTAL PALACE      D       W  F
36      WOLVERHAMPTON      D       D  S
37            EVERTON      D       W  F
38        BOURNEMOUTH      L       L  S
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
41            ARSENAL      L       W  F
42          BRENTFORD      W       L  F
43     MANCHESTERCITY      L       W  F
44         ASTONVILLA      W       W  S
45           BRIGHTON      L       W  F
46              LEEDS      L       D  F
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
49        BOURNEMOUTH      L       L  S
50        SOUTHAMPTON      D       W  F
51          LIVERPOOL      D       W  F
52     MANCHESTER UTD      W       W  S
53             FULHAM      L       W  F
54          LEICESTER      W       W  S
55           WEST HAM      L       L  S
56     CRYSTAL PALACE      D       W  F
57  NOTTINGHAM FOREST      D       D  S
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F

In [10]:
#set_index('인덱스명')을 통해 인덱스 전환 가능
#원본 데이터를 바꾸려면 raw = raw.set_index('번호')

In [11]:
raw

             teamName result predict sf
0        SOUTHHAMPTON      L       L  S
1              FULHAM      W       W  S
2             EVERTON      L       L  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
5            WEST HAM      L       L  S
6             ARSENAL      L       W  F
7            BRIGHTON      W       W  S
8           LEICESTER      L       L  S
9           LIVERPOOL      W       W  S
10          TOTTENHAM      L       W  F
11          BRENTFORD      W       L  F
12              LEEDS      D       W  F
13          NEWCASTLE      D       W  F
14            CHELSEA      D       W  F
15  NOTTINGHAM FOREST      D       L  F
16     CRYSTAL PALACE      W       W  S
17        BOURNEMOUTH      L       L  S
18     MANCHESTER UTD      W       W  S
19      WOLVERHAMPTON      L       L  S
20        ASTON VILLA      W       W  S
21          TOTTENHAM      L       L  S
22           WEST HAM      W       W  S
23              LEEDS      L       W  F
24           BRIGHTON      W       W  S
25        SOUTHAMPTON      L       L  S
26    MANCHESTER CITY      W       W  S
27            CHELSEA      L       L  S
28          NEWCASTLE      D       D  S
29          LEICESTER      D       L  F
30            ARSENAL      W       W  S
31      WOLVERHAMPTON      L       L  S
32          LIVERPOOL      D       W  F
33        ASTON VILLA      D       W  F
34             FULHAM      D       W  F
35     CRYSTAL PALACE      D       W  F
36      WOLVERHAMPTON      D       D  S
37            EVERTON      D       W  F
38        BOURNEMOUTH      L       L  S
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
41            ARSENAL      L       W  F
42          BRENTFORD      W       L  F
43     MANCHESTERCITY      L       W  F
44         ASTONVILLA      W       W  S
45           BRIGHTON      L       W  F
46              LEEDS      L       D  F
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
49        BOURNEMOUTH      L       L  S
50        SOUTHAMPTON      D       W  F
51          LIVERPOOL      D       W  F
52     MANCHESTER UTD      W       W  S
53             FULHAM      L       W  F
54          LEICESTER      W       W  S
55           WEST HAM      L       L  S
56     CRYSTAL PALACE      D       W  F
57  NOTTINGHAM FOREST      D       D  S
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F

In [12]:
#iloc(행번호, 열번호)
raw.iloc[1,2]

'W'

In [13]:
#loc(행이름, 열이름)
raw.loc[2, 'teamName']

'EVERTON'

In [14]:
#복수의 셀을 선택할 경우
#df.loc[인덱스명, 컬럼명]
#df.iloc[인덱스번호, 컬럼번호] 리스트, 슬라이싱 활용

raw.loc[0, ['result', 'predict']]

result     L
predict    L
Name: 0, dtype: object

In [15]:
raw.loc[0, 'result':]

result     L
predict    L
sf         S
Name: 0, dtype: object

In [16]:
raw.loc[:,'result']

0     L
1     W
2     L
3     W
4     W
5     L
6     L
7     W
8     L
9     W
10    L
11    W
12    D
13    D
14    D
15    D
16    W
17    L
18    W
19    L
20    W
21    L
22    W
23    L
24    W
25    L
26    W
27    L
28    D
29    D
30    W
31    L
32    D
33    D
34    D
35    D
36    D
37    D
38    L
39    W
40    W
41    L
42    W
43    L
44    W
45    L
46    L
47    W
48    W
49    L
50    D
51    D
52    W
53    L
54    W
55    L
56    D
57    D
58    D
59    D
Name: result, dtype: object

In [17]:
raw['result']

0     L
1     W
2     L
3     W
4     W
5     L
6     L
7     W
8     L
9     W
10    L
11    W
12    D
13    D
14    D
15    D
16    W
17    L
18    W
19    L
20    W
21    L
22    W
23    L
24    W
25    L
26    W
27    L
28    D
29    D
30    W
31    L
32    D
33    D
34    D
35    D
36    D
37    D
38    L
39    W
40    W
41    L
42    W
43    L
44    W
45    L
46    L
47    W
48    W
49    L
50    D
51    D
52    W
53    L
54    W
55    L
56    D
57    D
58    D
59    D
Name: result, dtype: object

In [18]:
#원하는 대로 순서 변경 가능
raw[['result','predict']]

   result predict
0       L       L
1       W       W
2       L       L
3       W       W
4       W       W
5       L       L
6       L       W
7       W       W
8       L       L
9       W       W
10      L       W
11      W       L
12      D       W
13      D       W
14      D       W
15      D       L
16      W       W
17      L       L
18      W       W
19      L       L
20      W       W
21      L       L
22      W       W
23      L       W
24      W       W
25      L       L
26      W       W
27      L       L
28      D       D
29      D       L
30      W       W
31      L       L
32      D       W
33      D       W
34      D       W
35      D       W
36      D       D
37      D       W
38      L       L
39      W       W
40      W       L
41      L       W
42      W       L
43      L       W
44      W       W
45      L       W
46      L       D
47      W       W
48      W       W
49      L       L
50      D       W
51      D       W
52      W       W
53      L       W
54      W       W
55      L       L
56      D       W
57      D       D
58      D       W
59      D       W

In [20]:
raw['result'] == 'W'

0     False
1      True
2     False
3      True
4      True
5     False
6     False
7      True
8     False
9      True
10    False
11     True
12    False
13    False
14    False
15    False
16     True
17    False
18     True
19    False
20     True
21    False
22     True
23    False
24     True
25    False
26     True
27    False
28    False
29    False
30     True
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39     True
40     True
41    False
42     True
43    False
44     True
45    False
46    False
47     True
48     True
49    False
50    False
51    False
52     True
53    False
54     True
55    False
56    False
57    False
58    False
59    False
Name: result, dtype: bool

In [21]:
#True행만 출력
cond = raw['result'] == 'W'
raw[cond]

             teamName result predict sf
1              FULHAM      W       W  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
7            BRIGHTON      W       W  S
9           LIVERPOOL      W       W  S
11          BRENTFORD      W       L  F
16     CRYSTAL PALACE      W       W  S
18     MANCHESTER UTD      W       W  S
20        ASTON VILLA      W       W  S
22           WEST HAM      W       W  S
24           BRIGHTON      W       W  S
26    MANCHESTER CITY      W       W  S
30            ARSENAL      W       W  S
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
42          BRENTFORD      W       L  F
44         ASTONVILLA      W       W  S
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
52     MANCHESTER UTD      W       W  S
54          LEICESTER      W       W  S

In [22]:
#cond = [True, False, True] 이런 식으로 리스트를 만들어 조건 활용 가능
cond3 = (raw['result'] == 'W')
cond4 = (raw['predict'] == 'W')
cond = cond3 & cond4
raw[cond]

           teamName result predict sf
1            FULHAM      W       W  S
3   MANCHESTER CITY      W       W  S
4         BRENTFORD      W       W  S
7          BRIGHTON      W       W  S
9         LIVERPOOL      W       W  S
16   CRYSTAL PALACE      W       W  S
18   MANCHESTER UTD      W       W  S
20      ASTON VILLA      W       W  S
22         WEST HAM      W       W  S
24         BRIGHTON      W       W  S
26  MANCHESTER CITY      W       W  S
30          ARSENAL      W       W  S
39   MANCHESTER UTD      W       W  S
44       ASTONVILLA      W       W  S
47        TOTTENHAM      W       W  S
48          EVERTON      W       W  S
52   MANCHESTER UTD      W       W  S
54        LEICESTER      W       W  S

In [24]:
cond5 = (raw['result'] == 'W')
cond6 = (raw['predict'] == 'W')
cond = cond5 | cond6
raw[cond]

             teamName result predict sf
1              FULHAM      W       W  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
6             ARSENAL      L       W  F
7            BRIGHTON      W       W  S
9           LIVERPOOL      W       W  S
10          TOTTENHAM      L       W  F
11          BRENTFORD      W       L  F
12              LEEDS      D       W  F
13          NEWCASTLE      D       W  F
14            CHELSEA      D       W  F
16     CRYSTAL PALACE      W       W  S
18     MANCHESTER UTD      W       W  S
20        ASTON VILLA      W       W  S
22           WEST HAM      W       W  S
23              LEEDS      L       W  F
24           BRIGHTON      W       W  S
26    MANCHESTER CITY      W       W  S
30            ARSENAL      W       W  S
32          LIVERPOOL      D       W  F
33        ASTON VILLA      D       W  F
34             FULHAM      D       W  F
35     CRYSTAL PALACE      D       W  F
37            EVERTON      D       W  F
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
41            ARSENAL      L       W  F
42          BRENTFORD      W       L  F
43     MANCHESTERCITY      L       W  F
44         ASTONVILLA      W       W  S
45           BRIGHTON      L       W  F
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
50        SOUTHAMPTON      D       W  F
51          LIVERPOOL      D       W  F
52     MANCHESTER UTD      W       W  S
53             FULHAM      L       W  F
54          LEICESTER      W       W  S
56     CRYSTAL PALACE      D       W  F
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F

In [27]:
cond = (raw['result'] == 'W') \
     & (raw['predict'] == 'W') \
     & (raw['sf'] == 'S')
raw[cond]

           teamName result predict sf
1            FULHAM      W       W  S
3   MANCHESTER CITY      W       W  S
4         BRENTFORD      W       W  S
7          BRIGHTON      W       W  S
9         LIVERPOOL      W       W  S
16   CRYSTAL PALACE      W       W  S
18   MANCHESTER UTD      W       W  S
20      ASTON VILLA      W       W  S
22         WEST HAM      W       W  S
24         BRIGHTON      W       W  S
26  MANCHESTER CITY      W       W  S
30          ARSENAL      W       W  S
39   MANCHESTER UTD      W       W  S
44       ASTONVILLA      W       W  S
47        TOTTENHAM      W       W  S
48          EVERTON      W       W  S
52   MANCHESTER UTD      W       W  S
54        LEICESTER      W       W  S

In [28]:
team_result = raw['result']
team_predict = raw['predict']

In [29]:
cond_first = (raw['result'] == 'W')
cond_second = (raw['predict'] == 'W')

cond = cond_first & cond_second
raw[cond]

           teamName result predict sf
1            FULHAM      W       W  S
3   MANCHESTER CITY      W       W  S
4         BRENTFORD      W       W  S
7          BRIGHTON      W       W  S
9         LIVERPOOL      W       W  S
16   CRYSTAL PALACE      W       W  S
18   MANCHESTER UTD      W       W  S
20      ASTON VILLA      W       W  S
22         WEST HAM      W       W  S
24         BRIGHTON      W       W  S
26  MANCHESTER CITY      W       W  S
30          ARSENAL      W       W  S
39   MANCHESTER UTD      W       W  S
44       ASTONVILLA      W       W  S
47        TOTTENHAM      W       W  S
48          EVERTON      W       W  S
52   MANCHESTER UTD      W       W  S
54        LEICESTER      W       W  S

In [32]:
cond_first = (raw['result'] == 'W')
cond_second = (raw['predict'] == 'W')

cond = cond_first | cond_second
raw[cond]

             teamName result predict sf
1              FULHAM      W       W  S
3     MANCHESTER CITY      W       W  S
4           BRENTFORD      W       W  S
6             ARSENAL      L       W  F
7            BRIGHTON      W       W  S
9           LIVERPOOL      W       W  S
10          TOTTENHAM      L       W  F
11          BRENTFORD      W       L  F
12              LEEDS      D       W  F
13          NEWCASTLE      D       W  F
14            CHELSEA      D       W  F
16     CRYSTAL PALACE      W       W  S
18     MANCHESTER UTD      W       W  S
20        ASTON VILLA      W       W  S
22           WEST HAM      W       W  S
23              LEEDS      L       W  F
24           BRIGHTON      W       W  S
26    MANCHESTER CITY      W       W  S
30            ARSENAL      W       W  S
32          LIVERPOOL      D       W  F
33        ASTON VILLA      D       W  F
34             FULHAM      D       W  F
35     CRYSTAL PALACE      D       W  F
37            EVERTON      D       W  F
39     MANCHESTER UTD      W       W  S
40  NOTTINGHAM FOREST      W       L  F
41            ARSENAL      L       W  F
42          BRENTFORD      W       L  F
43     MANCHESTERCITY      L       W  F
44         ASTONVILLA      W       W  S
45           BRIGHTON      L       W  F
47          TOTTENHAM      W       W  S
48            EVERTON      W       W  S
50        SOUTHAMPTON      D       W  F
51          LIVERPOOL      D       W  F
52     MANCHESTER UTD      W       W  S
53             FULHAM      L       W  F
54          LEICESTER      W       W  S
56     CRYSTAL PALACE      D       W  F
58            CHELSEA      D       W  F
59          NEWCASTLE      D       W  F